
/************** OVERALL STYLES *******************/
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/new_year_background.png");
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 2px rgba(32, 45, 56, 0.4);
}

/****** BOX SIZING *******/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/************* HEADER ****************/
.header {
  margin: 0 auto;
  width: 100%;
  height: 150px;
  text-align: center;
  background: #46637A;
  color: #f8f8f9;
  border-bottom: 3px solid #80888E;
}

.header h1 {
  font-size: 80px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

.container {
  position: relative;
  margin: 40px auto;
  padding-top: 30px;
  width: 600px;
  height: 400px;
  text-align: center;
  background: #f8f8f9;
  color: #071E30;
  border: 1px solid #80888E;
  border-radius: 5px;
  font-size: 24px;
}
/************** GAMEPLAY DIV ***********/

.hangman-word {
  margin: 50px auto;
  font-size: 70px;
}

.gameplay-content {
  margin: 10px auto;
}

.btn {
  width: 180px;
  height: 35px;
  color: #f8f8f9;
  background: #1E3B54;
  border-radius: 2px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  bottom: 10px;
  left:210px;
}

.btn:hover {
  background: #142636;
  border: 2px solid #071E30;
}

/************ WIN/LOSE DIV ***************/
.game-result {
  background:#f8f8f9;
  width: 600px;
  height: 400px;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #80888E;
  border-radius: 5px;
}

.game-result h3 {
  padding: 10px;
  font-size: 35px;
  color:#f8f8f9;
  background:#557691;
  border-bottom: 1px solid #80888E;
}

.game-result img {
  width: 100%;
  border-bottom: 1px solid #80888E;
  margin-bottom: 2px;
}
.city-info {
  width: 100%;
}

.city-info h2 {
  font-size: 26px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px rgba(32, 45, 56, 0.4);
}

.city-info p {
  font-size: 16px;
  line-height: 125%;
  margin: auto 10px;
}

/********* MEDIA QUERIES ******/
@media only screen and (max-width: 600px) {
  /***** HEADER **********/
  .header h1 {
    font-size: 55px;
  }

  .header h3 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  /***** GAMEPLAY CONTAINER *****/
  .container, .game-result {
    width: 100%;
  }

  .hangman-word {
    font-size: 50px;
  }

  .btn {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 45px;
  }

}
